<!DOCTYPE html>
<html>

<head>
    <title> Modular Synthesizer Controller </title>
    
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    
    <link rel="stylesheet" href="../css/styles.css" type="text/css"> 
    
    </head>

    <body>
   
    <div ng-view></div>
                
        
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"> </script>
        <script src="/lib/angular-resource.min.js"></script>
        <scipt src="/lib/angular-route.min.js"></scipt>
        <script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
        <script src="../controllers/login_script.js"></script>
        <script src="/Modules/mainModule.js"></script>
        <script src="/factories/factory.js"></script>
        <script src="/controllers/loginController.js"></script>

    </body>

</html>